@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
        overflow:hidden;
        display: flex;
}


.div_img_login{

    width: 40%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 720px;
    background-image: url(../assets/imgs/img_cad.jpg);

}

.btn_voltar{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B2892B;
    border: none;
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.img_btn{

    width: 30px;
    height: 30px;

}

.div_form{

    width: 60%;
    height: 720px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/imgs/background_login.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.txt_bem_vindo{

    width: 80%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8%;
}

.span_bem_vindo{

    font-family: "Kantumruy Pro", sans-serif;
    color: #B2892B;
    font-weight: bold;
    font-size: 32px;

}

.span_logo{

    font-family: "Kantumruy Pro", sans-serif;
    color: #B2892B;
    font-weight:700;
    font-size: 35px;
    margin-left: 2%;

}

.span_txt_form{

    font-family: "Kantumruy Pro", sans-serif;
    color: #1A2435;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8%;
}

.span_txt_form_2{

    font-family: "Kantumruy Pro", sans-serif;
    color: #1A2435;
    font-size: 16px;
    font-weight: bold;
    margin-top: 7%;
}

.input{

    width: 90%;
    margin-top: 2%;
    height: 6vh;
    outline: none;
    border-radius: 8px;
    border: 2px solid #1A2435;
    text-align: center;
    font-family: "Kantumruy Pro", sans-serif;
    color: #1A2435;
    background-color: transparent;
    font-weight: 600;

}

.div_form_campos{

    display: flex;
    flex-direction: column;
    margin-left: 8%;
    width: 407px;
    height:80vh;

}

.div_verificacoes{

    width: 100%;
    margin-top: 2%;
}

.txt_span_ver{

    font-size: 12px;
    color: #1A2435;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
}


.txt_cad{

    font-size: 13px;
    color: #1A2435;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    margin-top: 5%;

}

.link_cad{

    text-decoration: underline;
    color: #B2892B;
    

}

.btn_cad{

    background-color: #1A2435;
    color: white;
    border-radius: 10px;
    font-family: "Kantumruy Pro", sans-serif;
    border: none;
    margin-top: 5%;
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    height: 44px;
    cursor: pointer;
}

.btn_cad:hover{

    color: #B2892B;
    transition: 0.5s;
}




.div_erro{

    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 25%;
    background-color: #fff;
    border: solid 3px #1A2435;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 6px rgba(14, 14, 17, 0.2);
    transform: translate(-50%,-50%);
    left: 50%;
    align-items: center;
    text-align: center;
    top: 50%;
    font-weight: bold;
    justify-content: space-evenly;
    opacity: 0;
    font-family: "Kantumruy Pro", sans-serif;
    z-index: 10000;
}

.div_erro span{


    color: #1A2435;
}

@keyframes surgir{

    from{

        opacity: 0%;
    }

    to{

        opacity: 100%;
    }

}

@keyframes sumir{

    from{

        opacity: 100%;
    }

    to{

        opacity: 0%;
    }

    


}


@keyframes backop{

    from{

        opacity: 100%;
    }

    to{

        opacity: 60%;
    }

}


@keyframes backn{

    from{

        opacity: 60%;
    }

    to{

        opacity: 100%;
    }

}

.img_erro{

    width: 80%;
    height: 32vh;
    background-image: url(../assets/imgs/error.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;    
}

.img_acerto{

    width: 40%;
    height: 20vh;
    background-image: url(../imgs/correct.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;    
}


.btn_again{

    background-color: red;
    width: 50%;
    height: 7vh;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    cursor:pointer;
    transition: 0.2s ease-in-out;
    text-align: center;

}

