@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
        overflow:hidden;
        display: flex;
        align-items: center;
        justify-content: center;
}


.div_img_login{

    width: 38%;
    height: 720px;
    background-repeat: no-repeat;
    background-image: url(../assets/imgs/login.png);

}

.btn_voltar{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #B2892B;
    border: none;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.img_btn{

    width: 30px;
    height: 30px;

}

.div_form{

    width: 62%;
    height: 720px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/imgs/background_login.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.txt_bem_vindo{

    width: 80%;
    height: 10vh;
    display: flex;
    margin-top: 6%;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}

.span_bem_vindo{

    font-family: "Kantumruy Pro", sans-serif;
    color: #B2892B;
    font-weight: bold;
    font-size: 35px;

}

.span_logo{

    font-family: "Kantumruy Pro", sans-serif;
    color: #B2892B;
    font-weight:700;
    font-size: 40px;
    margin-left: 2%;

}

.span_txt_form{

    font-family: "Kantumruy Pro", sans-serif;
    color: #1A2435;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1%;
}

.span_txt_form_2{

    font-family: "Kantumruy Pro", sans-serif;
    color: #1A2435;
    font-size: 18px;
    font-weight: bold;
    margin-top: 7%;
}

.input{

    width: 90%;
    margin-top: 2%;
    height: 6vh;
    outline: none;
    border-radius: 8px;
    border: 2px solid #1A2435;
    text-align: center;
    font-family: "Kantumruy Pro", sans-serif;
    color: #1A2435;
    background-color: transparent;
    font-weight: 600;
    margin-bottom: 4%;

}

.div_form_campos{

    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 407px;
    height:75vh;

}

.div_verificacoes{

    width: 100%;
    margin-top: 2%;
}

.txt_span_ver{

    font-size: 12px;
    color: #1A2435;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
}


.txt_cad{

    font-size: 15px;
    color: #1A2435;
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: bold;
    margin-top: 5%;

}

.link_cad{

    text-decoration: underline;
    color: #B2892B;
    

}

.btn_login{

    background-color: #1A2435;
    color: white;
    border-radius: 10px;
    font-family: "Kantumruy Pro", sans-serif;
    border: none;
    margin-top: 5%;
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    height: 44px;
    cursor: pointer;
}

.btn_login:hover{

    color: #B2892B;
    transition: 0.5s;
}

.div_aviso{

    width: 400px;
    height: 300px;
    background-color: #1A2435;
    border: solid 2px white;
    position: fixed;
    border-radius: 10px;
    display: flex;
    color: white;
    font-family: "Kantumruy Pro", sans-serif;
    align-items: center;
    justify-content: center;

}